<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/"><h2>Stand Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog Entries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">Contact Us</a>
                    </li>


                    {#            ----------------------------------------#}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'account:login' %}" id="navbarDropdown"
                               role="button" data-toggle="dropdown">
                                <i class="fas fa fa-user mx-1"></i>
                                Profile
                            </a>
                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="/account/profile/">My account</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{% url 'account:logout' %}">Log out</a>
                                </li>
                            </ul>
                        </li>

                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown">
                                <i class="fas fa fa-user mx-1"></i>
                                Login
                            </a>
                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'account:signup' %}">Create account</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{% url 'account:login' %}">Log in</a>
                                </li>
                            </ul>
                        </li>

                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>
</header>